<nav local-class="navigation">
  <ul local-class="menu">
    <li local-class="item">
      {{#link-to 
        "index"
        local-class="link"
        data-test-link-to-index=""
        rel="noopener"
      }}
        Home
      {{/link-to}}
    </li>
    <li local-class="item">
      {{#link-to 
        "about"
        local-class="link"
        data-test-link-to-about=""
        rel="noopener"
      }}
        About
      {{/link-to}}
    </li>
    <li local-class="item">
      {{#link-to 
        "portfolio"
        local-class="link"
        data-test-link-to-portfolio=""
        rel="noopener"
      }}
        Portfolio
      {{/link-to}}
    </li>
    <li local-class="item">
      {{#link-to 
        "contact"
        local-class="link"
        data-test-link-to-contact=""
        rel="noopener"
      }}
        Contact
      {{/link-to}}
    </li>
  </ul>
</nav>