<aside local-class="social">
  <a 
    href="https://github.com/dnstld" 
    local-class="link" 
    rel="noopener" 
    target="_blank"
  >
    {{fa-icon "github"}}
  </a>

  <a 
    href="https://twitter.com/dnstld" 
    local-class="link" 
    rel="noopener" 
    target="_blank"
  >
    {{fa-icon "twitter"}}
  </a>

  <a
    href="https://www.linkedin.com/in/denistoledo" 
    local-class="link"
    rel="noopener" 
    target="_blank"
  >
    {{fa-icon "linkedin"}}
  </a>
</aside>