<select onchange={{action "handleFilterPortfolio" value="target.value"}}>
  <option selected value="all">All</option>
  <option value="front-end">Front-end</option>
  <option value="ux-ui">UX/UI Design</option>
  <option value="graphic-design">Graphic Design</option>
</select>

{{yield results}}