<header local-class="manager">
  <div local-class="filter">
    <span>Sort by</span>
    <select 
      local-class="select" 
      onchange={{action "handleFilterPortfolio" value="target.value"}}
    >
      <option selected value="all">All projects</option>
      <option value="front-end">Front-end</option>
      <option value="ux">User experience</option>
      <option value="ui">User interface</option>
      <option value="design">Design</option>
    </select>
  </div>

  <span local-class="total">Showing {{results.length}} projects</span>
</header>

{{yield results}}