@value bp-sm, bp-md, bp-lg from "../_utils/breakpoints.css";

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;

  @media bp-sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @media bp-md {
    grid-template-columns: repeat(3, 1fr);
  }
}