.huge-x {
  font-size: 1.875rem;
}
.huge {
  font-size: 1.500rem;
}
.large {
  font-size: 1.250rem;
}
.medium {
  font-size: 1.125rem;
}
.default {
  font-size: 1rem;
}
.small {
  font-size: 0.875rem;
}
.tiny {
  font-size: 0.750rem;
}
.minute {
  font-size: 0.625rem;
}