@value color-secondary from "../base/colors.css";
@value centered from "../composes/layout.css";
@import "./postcss-nesting";

.navigation {
  display: flex;
}
.menu {
  display: flex;
  width: 100%;
  height: 100%;
}
.item {
  color: color-secondary;
}
.link {
  composes: centered;
  height: 100%;
  padding: 1rem .5rem;
  box-sizing: border-box;
}