@value color-primary, color-secondary from "../base/colors.css";

.social {
  display: flex;
  align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-left: .5rem;
  position: relative;
  color: color-primary;
  background-color: color-secondary;
}