@value txt-tiny from "../_base/typography.css";
@value bp-sm from "../_utils/breakpoints.css";

.manager {
  display: flex;
  align-items: baseline;
  margin: 1rem;

  @media bp-sm {
    margin: 1rem 0 1.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f7f7f7;
  }
}
.filter {
  display: flex;
  align-items: center;
}
.select {
  appearance: none;
  border-style: none;
  background-color: transparent;
  font-weight: 700;
  margin-left: .5rem;
  cursor: pointer;
}
.total {
  margin-left: auto;
  font-size: txt-tiny;
}