<div local-class="app">
  <header local-class="header">
    <AppNavigation />
    <AsideSocial />
  </header>

  <main local-class="main">
    {{outlet}}
  </main>

  <footer local-class="footer">
    Copyright © 2018 Denis Toledo - All rights reserved
  </footer>
</div>