<div local-class="app">
  <nav local-class="nav">
    <AppNavigation />
  </nav>

  <main local-class="main">
    {{outlet}}
  </main>

  <footer local-class="footer">
    <AsideSocial />
  </footer>
</div>