<header local-class="header">
  <AppContent>
    <div local-class="content">
      <img 
        src="../../assets/images/logo-denis-toledo.svg" 
        local-class="img" 
        alt="Denis Toledo's Logo"
      >
      <h1 local-class="phrase">I am a Front-end Developer, an enthusiast User Experience and User Interface Designer and also a Graphic Designer.</h1>
    </div>
  </AppContent>
</header>

<AppContent>
  {{outlet}}
</AppContent>